.footer-principal {
    width: 100%;
    background-color: #444;
    color: aliceblue;
    margin-top: 48px;
}
.footer-info {
    display: flex;
    gap: 24px;
    padding: 12px;
}
.phrase-news {
    text-align: center;
    width: 800px;
    font-size: x-large;
    font-weight: 500;
}
.phrase-news span {
    font-style: oblique;
}
.footer-data-news {
    display: flex;
}
.list-footer {
    list-style: none;
}
.list-footer li {
    margin-bottom: 8px;
}