body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-menu:hover .menu-news {
  opacity: 1;
  display: flex;
  transition: display 500ms;
  transition-delay: 300ms;
}
.menu-news {
  background-color: grey;
  width: 600px;
  height: 150px;
  position: absolute;
  display: none;
  opacity: 0;
  top: 38px;
  left: 0;
  transition: display 500ms;
  transition-delay: 300ms;
}
.menu-news:hover {
  display: block;
}
